- if song
  %table.table{width: '100%'}
    %tr
      - if album_art
        %td
          - if link = shop_link(song)
            %a{href: link, target: '_blank'}
              %img{src: album_art, alt: 'Album cover'}
          - else
            %img{src: album_art, alt: 'Album cover'}
      %td
        - case mode
        - when :normal
          %span.glyphicon.glyphicon-play{'aria-hidden' => 'true'}
        - when :random
          %span.glyphicon.glyphicon-random{'aria-hidden' => 'true'}
      %td{width: '100%'}
        - if song.title
          = "#{song.artist} - #{song.title}"
        - else
          = File.basename(song.file)
      %td.text-right
        %span#timer= time_to_str(song.time)
  .progress
    #progressbar.progress-bar{style: 'transition: none;'} &nbsp;
  %script{type: 'text/javascript'} $(function(){playBar(true, #{elapsed}, #{song.time});});
- else
  Radio is silent.
  %script{type: 'text/javascript'} $(function(){playBar(false, 0, 0);});
