!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}/
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}/
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}/
    %title= "#{config[:title]} Queue"
    %link{href: '/favicon.ico', rel: 'icon', type: 'image/x-icon'}/
    %link{href: 'https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css', rel: 'stylesheet'}/
    %link{href: 'https://bootswatch.com/cyborg/bootstrap.min.css', rel: 'stylesheet'}/
    %script{src: 'https://code.jquery.com/jquery-2.1.3.min.js'}
    %script{src: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'}
    %script{src: rocketio_js}
  %body
    .container
      .h1= "#{config[:title]}"
      %p
        - if config[:stream_direct]
          - if config[:stream_direct].is_a? Array
            = config[:stream_direct].map.with_index{|l,i| "<a href='#{l}'>Stream #{i+1}</a>"}.join('&nbsp;&nbsp;')
          - else
            %a{href: config[:stream_direct]} Stream
          &nbsp;
        - if config[:stream_playlist]
          - if config[:stream_playlist].is_a? Array
            = config[:stream_playlist].map.with_index{|l,i| "<a href='#{l}'>Playlist #{i+1}</a>"}.join('&nbsp;&nbsp;')
          - else
            %a{href: config[:stream_playlist]} Playlist
          &nbsp;
        - if config[:contact]
          %a{href: config[:contact]} Contact
          &nbsp;
        - if config[:info_title]
          %a{onclick: 'toggleInfo()'}= config[:info_title]
      %hr
      - if config[:info_text]
        #info{style: 'display: none; width: 100%;'}
          != config[:info_text]
          %hr
      Currently playing:
      #current{style: 'font-size: 200%;'}
        != render_current
      %hr
      - if config [:stream_widget]
        Play directly in browser:
        %table
          %tr
            %td
              %button.btn.btn-default{onclick: 'reloadPlayer()'}
                %span.glyphicon.glyphicon-refresh{'aria-hidden' => 'true'}
            %td
              %audio#player{preload: 'none', autoplay: :false, controls: true}
                - src = config[:stream_direct].is_a?(Array) ? config[:stream_direct].first : config[:stream_direct]
                %source{src: src, type: config[:stream_format]}
                Your browser doesn't support HTML5 audio.
        %hr
      Playlist:
      #playlist
        != render_playlist
      %hr
      %small
        Powered by
        %a{href: 'https://github.com/drbig/mpdqueue', target: '_blank'} MPDQueue
        version #{ver}
        &copy; Copyright 2015 Piotr S. Staszewski.
  %script{src: '/js/main.js'}
